.megadraft-editor .paragraph {
  margin: 5px !important;
}

.megadraft-editor .paragraph + .paragraph {
  margin: 5px !important;
}

.megadraft-editor .public-DraftEditor-content figure {
  margin: 5 !important;
}
